# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

# Hugo default output directory
public/
/exampleSite/resources/

node_modules/
build/
gen_/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# OSX
.DS_Store

# Linux
.directory

# Hugo
.hugo_build.lock
jsconfig.json
/resources/_gen/
